* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFF7ED;
}

.header{
    width: 90%;
    min-height: 111.62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 5.5em;
}

.navlink {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 1em;
}

@media (max-width: 769px) {
    .header {
        
    }
    .logo {
        margin-left: 3.5em;
    }
}
/**Home**/
.home {
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("/home1.png"); /* or /assets/home1.png */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

}

.content {
    margin: 3em;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    max-width: 900px;
    
}

.subtitle{
    font-size: 2rem;
    max-width: 900px;
}

.cta-btn{
    width: 100%;
    padding: 14px 0;
    background-color: #FF8C38;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 4em;
}
.cta-btn:hover{
    background-color: #fb781a;
}
.footer{
    width: 100%;
    background-color: #252525;
    color: #AAAAAA;
    height: 74.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-size: 1.4em;
    margin-right: .2em;
}

@media (max-width: 769px) {
   
.content {
    width: 90%;
    padding: 2em 0;
}
.title{
    font-size: 2.5em;
    margin-top: 2em;
}
.subtitle {
    font-size: 1.2em;
    line-height: 1.5;
}

.footer{
}
}


/**Vans**/
.van-container {
    width: 90vw;
    margin: 0 auto;
}
.vanlist-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    margin: 2em;
    gap: 3em 0;
}


.top{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    margin-left: 2em;
    gap: 1em;
}
.card-img {
    width: 240px;
    height: 250px;
    border-radius: 5px;
}

.loading-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
}
.loading-icon{
    font-size: 3em;
    animation: spin 1s linear infinite;
    
}

.card-info {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.card-info .name {
    font-size: 1.3rem;
    font-weight: bold;
}
.card-info .price {
    margin-top: 1.1em;
    font-size: 1rem;
}
.card-info .price .day {
    display: block;
    color: gray;
    font-size: 0.6em;
    
}
.type{
    background-color: gray;
    width: 80px;
    padding: .5em 1em;
    border-radius: 5px;
    color: #FFEAD0;
}

.simple{
    background-color: #E17654;
    color: #FFEAD0;
}
.rugged{
    background-color: #115E59;
    color: #FFEAD0;
}
.luxury{
    background-color: #161616;
    color: #FFEAD0;;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}