* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFF7ED;
}
/**Header**/

.header{
    width: 90%;
    min-height: 111.62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 3em;
    font-size: 1.6em;
}

.navlink {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.navlink.active {

    text-decoration: underline;
    color: #161616;
}

.navlink:hover {
    color:  #FF8C38;;
    transition: all 0.3s ease;
}


nav {
    display: flex;
    gap: 1em;
}

@media (max-width: 769px) {
    .header {
        
    }
    .logo {
        margin-left: 2em
    }

}
    @media (min-width: 1024px) {
       .logo {
        font-size: 2rem;
    }
}
/**Home**/
.home {
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("/home1.png"); /* or /assets/home1.png */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

}

.content {
    margin: 3em;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    max-width: 900px;
    
}

.subtitle{
    font-size: 2rem;
    max-width: 900px;
}

.cta-btn{
    width: 100%;
    padding: 14px 0;
    background-color: #FF8C38;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 4em;
}
.cta-btn:hover{
    background-color: #fb781a;
}


@media (max-width: 769px) {
   
.content {
    width: 90%;
    padding: 2em 0;
}
.title{
    font-size: 2.5em;
    margin-top: 2em;
}
.subtitle {
    font-size: 1.2em;
    line-height: 1.5;
}

}


@media (min-width: 1024px) {
    .cta-btn{
        width: 200px;
    }
    .title{
        font-size: 4rem;
    }
}
/**Footer**/
.footer{
    width: 100%;
    background-color: #252525;
    color: #AAAAAA;
    height: 74.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    font-size: 1.4em;
    margin-right: .2em;
}


/**Vans**/
.van-container {
    width: 90vw;
    margin: 0 auto;
}
.vanlist-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2em;
    gap: 3em 0;
}

.vanlist-section a{
    text-decoration: none;
    color: #161616;
}

.top{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    margin-left: 2em;
    gap: 1em;
}
.van-img {
    width: 230px;
    height: 230px;
    border-radius: 5px;
}

.loading-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
}
.loading-icon{
    font-size: 1.5 em;
    animation: spin 1s linear infinite;
    
}

.van-info {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.van-info .name {
    font-size: 1.3rem;
    font-weight: bold;
}
.van-info .price {
    margin-top: 1.1em;
    font-size: 1rem;
}
.van-info .price .day {
    display: block;
    color: gray;
    font-size: 0.6em;
    
}
.type{
    background-color: gray;
    width: 80px;
    padding: .5em 1em;
    border-radius: 5px;
    color: #FFEAD0;
}

.simple{
    background-color: #E17654;
    color: #FFEAD0;
}
.rugged{
    background-color: #115E59;
    color: #FFEAD0;
}
.luxury{
    background-color: #161616;
    color: #FFEAD0;;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/**Van Detail Page**/

.return-link{
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.van-detail-container {
    width: 90%;
    height: 100%;
    margin: 3em;
}

.van-detail-img {
    height: 490px;
    width: 497px;
    border-radius: 10px;
}

.van-detail-content {
    margin-top: 4em;
    width: 90%;
}

.van-detail-info {
    margin-top: 2em;
}

.van-detail-info .type {
    margin-bottom: 1em;
}
.van-detail-info .van-name {
    margin-bottom: .5em;
    font-size: 32px;
}

.van-detail-info .van-price{
    font-weight: bold;
    font-size: 24px;
}
.van-detail-info .day {
    color: #161616;
    font-size: 20px;
    font-weight: 500;


}

.van-detail-info .van-description{
    font: 16px;
    line-height: 1.5;
    margin: 1.2em 0;
}

.van-detail-btn {
    width: 100%;
    padding: 12px 18px;
    margin: 2em 0;
    border-radius: 5px;
    border: none;
    background-color: #FF8C38;
    color: white;
    font-weight: 18px;
    font-weight: bold;
    font-family: inherit;
}
.van-detail-btn:hover {
    background-color:  #fb7211;
}

@media (min-width: 768px) {
  /* tablet styles */
}

@media (min-width: 1024px) {

    .van-detail-container {
        margin: 5em;
    }
  /* laptop styles */
  .van-detail-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    justify-content: center;
    gap: 5em;
  }

  .van-detail-btn {
    width: 150px;
    padding: 18px 24px;

  }
}


/**About Page**/

.about-container {
    width: 100%;
    height: 1000%;
}
.about-img {
    width: 100%;
}
.about-text {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-title{
    margin-bottom: 1em;
}

.about-mission, .team-mission {
    line-height: 1.5;
    font-size: 1rem;
}
.about-banner {
    width: 90%;
    background-color: #FFCC8D;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 1.5em;
    margin-bottom:  5em ;
    margin-top: 3em;
    border-radius: 10px;
}
.banner-title {
    font-size: 2.5rem;
}
.about-btn{
    padding: 1em;
    font-weight: bold;
    background-color: #161616;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px
}

@media (min-width: 1024px) {

    .about-text{
        height: 100%;
    }
    .about-banner, .about-text {
        width: 80%;
    }
    .about-title {
        font-size: 4rem;
        line-height: none;
    }
    .about-mission, .team-mission{
        font-size: 1.2rem;
    }
      .about-mission{
        margin-bottom: 2em;
      }
}



/**Host Layout Link**/
.host-layout-links  {
  display: flex;
  margin: 3em;
}
 .host-layout-links a {
    font-size: 1rem;
    text-decoration: none;
    color: #161616;
 }

  .host-layout-links a:hover {
    font-weight: bold;
  }


  /**Host Vans**/
  .host-vans-container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
  }
   .tile-heading{
    margin: 0 .5em;
    font-size: 2rem;
    margin-bottom: 1em;
  }
  .tile-container {
    width: 100%;
    margin: 0 auto;
  }

  .tile-container-links {
    text-decoration: none;
  }
 .tile-content{
    width: 90%;
    height: 102px;
    background-color: white;
    margin-bottom: 1em;
    color: #161616;
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 3em;
    padding: 1em 1.5em;
    border-radius: 5px;
  }
  .tile-image{
    width: 66px;
    height: 66px;
    border-radius: 5px;
  }
  .tile-details{
    display: flex;
    flex-direction: column;
    
  }

  .tile-van-name{
    font-size: 1.5rem;
    font-weight: 500;

  }
  .tile-price{
    font-size: .879rem
  }


  /**Host Van Details**/

  .host-van-details-container{
    padding: 0 2em;
    height: 100%;
    
  }
  .host-van-detail-page{
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    margin: 2em 3em;

  }
  .host-van-detail-header{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .host-van-detail-img{
    width: 161px;
    border-radius: 10px;
    margin-left: 1em;
  }
  .host-van-detail-right{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
 
  .host-van-detail-name{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .host-van-detail-price{
    font-weight: bold;
  }
   .host-van-detail-price span{
    font-weight: 400;
   }
   .host-van-links{
    display: flex;
    margin-bottom: 2em;
   }
   .host-van-detail-content .host-van-links .navlink{
    margin-right: 2em;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
   }
      .host-van-detail-content .host-van-links .navlink.active{
        border-bottom: 2px solid black;
      }
   
  
  .host-van-info{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
   .host-van-info span,
   .visibility{
    font-weight: bold;
   }
  .host-van-info:nth-child(3){
    line-height: 1.5;
  }
  .p{
    font-weight: 400;
  }
  .host-van-detail .return-link{
    margin-left: 3em;
  }

  .host-van-detail .host-layout-links{
    margin-left: 0;
  }

  .van-photo{
    width: 103px;
    height: 102px;
  }